<ion-view view-title="IV Calculator" align-title="center">
  <ion-content>

    <div class="background-positive">
    <img src="img/pocketiv.svg" alt="Pokeball" width="50" height="50" class="heading" />
    </div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Pokemon
        </div>
        <select ng-options="p.id as p.name for p in pokemon | orderBy:'name' track by p.id" ng-model="form.pokemonId">
          <option value="" selected disabled>Select Pokemon</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">CP</span>
        <input type="tel" ng-model="form.cp" style="text-align: end" placeholder="Enter CP">
      </label>
      <label class="item item-input">
        <span class="input-label">HP</span>
        <input type="tel" ng-model="form.hp" style="text-align: end" placeholder="Enter HP">
      </label>
      <label class="item item-input item-select">
        <span class="input-label" ng-model="form.dust">Dust</span>
        <select ng-options="amount as amount for amount in dust track by amount" ng-model="form.dust">
          <option value="" selected disabled>Select dust</option>
        </select>
      </label>
      <ion-checkbox ng-model="form.isPowered" class="item-checkbox-right">Powered</ion-checkbox>
      <div class="item" style="padding: 0;">
        <button class="button button-full button-positive" style="margin: 0;" ng-click="calculate()">
        Calculate
      </button>
      </div>
    </div>

    <div ng-if="loading">
        <ion-spinner icon="android" class="spinner-positive"></ion-spinner>
    </div>

    <div class="list" ng-if="!loading && results && results.combinations && !results.combinations.length">
      <div class="item item-text-wrap background-positive">
        <strong>Results</strong>
      </div>
      <div class="item item-text-wrap text-center">
        No results
      </div>
    </div>

    <div class="list" ng-if="!loading && results && results.combinations && results.combinations.length">
      <div class="item item-text-wrap background-positive">
        <strong>Perfection</strong>
      </div>
      <div class="item" style="padding: 0;">
        <div class="row">
          <div class="col"><strong>Min</strong></div>
          <div class="col text-center"><strong>Avg</strong></div>
          <div class="col text-right"><strong>Max</strong></div>
        </div>
      </div>
      <div class="item" style="padding: 0;">
        <div class="row">
          <div class="col">{{results.minimum*100 | number:1}}%</div>
          <div class="col text-center">{{results.average*100 | number:1}}%</div>
          <div class="col text-right">{{results.maximum*100 | number:1}}%</div>
        </div>
      </div>
    </div>

    <div class="list" ng-if="!loading && results && results.combinations && results.combinations.length">
      <div class="item item-text-wrap background-positive">
        <strong>Combinations</strong>
      </div>
      <div class="item" style="padding: 0;">
        <div class="row">
          <div class="col"><strong>Level</strong></div>
          <div class="col text-center"><strong>Atk <span class="text-muted">/</span> Def <span class="text-muted">/</span> Sta</strong></div>
          <div class="col text-right"><strong>Perfection</strong></div>
        </div>
      </div>
      <div class="item" style="padding: 0;">
        <div class="row" ng-repeat="result in results.combinations | orderBy:'perfection':true">
          <div class="col">{{result.level}}</div>
          <div class="col text-center">{{result.attack}} <span class="text-muted">/</span> {{result.defense}} <span class="text-muted">/</span> {{result.stamina}}</div>
          <div class="col text-right">{{result.perfection*100 | number:1}}%</div>
        </div>
      </div>
    </div>

    <!--
    <div class="list">
      <div class="item range">
        <small>LVL</small>
        <input type="range" name="level">
        <small>10</small>
      </div>
    </div>
    -->
  </ion-content>
</ion-view>
